
.mode {
    .modeCard {
        padding: 8px;
        width: 283px;
        border-radius: 8px;
        border: 1px solid #1C1D2314;
        cursor: pointer;

        &:hover {
            background-color: #2E2F380D;
        }
        
        .modeImg {
            margin-right: 6px;
        }

        .title {
            color: #1C1D23;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px; /* 142.857% */
        }
        .desc {
            color: rgba(28, 29, 35, 0.60);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
    }
    .activeCard {
        background-color: #EEF3FD;
        border-color: #315CEC!important;
    }
}