.buildpath
.settings/
.project
*.patch
.idea/
.git/
.phpintel/
./service/.env
.env
.DS_Store
*.cache
*.lock
.php-accessor/
.phpunit*
.vscode/
static/web/.next
static/web/node_modules
/debug/
/.watcher.php
scripts/
doc/
test/bin/
build/
coverage/
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/cache/deps/*
volumes/
node_modules
.env_super_magic
bin/splitsh-lite
bin/user_lang
bin/use_super_magic
backend/magic-service/vendor/
backend/magic-service/composer.lock
backend/magic-service/runtime/
backend/magic-service-go-engine

config/.env_magic_gateway
config/.env_sandbox_gateway
config/.env_super_magic
config/config.yaml
config/.env_magic_gateway.bak
config/.env_sandbox_gateway.bak
config/.env_super_magic.bak
.aider*

frontend/upload-sdk/example