#  ======== sandbox-gateway start ======
APP_ENV=test
# Sandbox configuration
BE_DELIGHTFUL_IMAGE_NAME=ghcr.io/saashqdev/delightful/be-delightful:latest
LOG_LEVEL=DEBUG
SANDBOX_NETWORK=delightful-sandbox-network

# API security configuration
API_TOKEN=SANDBOX_TOKEN

# Docker configuration
DOCKER_HOST=unix:///var/run/docker.sock

# Sandbox gateway configuration
SANDBOX_GATEWAY_IMAGE=sandbox-gateway:master
SANDBOX_GATEWAY_CONTAINER_NAME=sandbox-gateway-master
SANDBOX_GATEWAY_PORT=39003

# Agent environment file configuration
AGENT_ENV_FILE_PATH=.env.agent

# Delightful gateway
DELIGHTFUL_GATEWAY_BASE_URL=http://delightful-gateway:8001
DELIGHTFUL_GATEWAY_API_KEY=DELIGHTFUL_GATEWAY_API_KEY

# Be Delightful configuration file path
BE_DELIGHTFUL_CONFIG_FILE_PATH=
#  ======== sandbox-gateway end ======
