# Git
.git
.github

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Dependency directories
vendor/
node_modules/

# Log files
*.log
logs/
storage/logs/

# Environment configuration files
.env
.env.*
.env.example

# Temporary files
*.tmp
*.temp
*.swp
.DS_Store

# Test files
tests/
phpunit.xml
.phpunit.result.cache
volumes/
# Documentation
docs/
*.md
!README.md

# Miscellaneous
docker/
docker-compose*
Dockerfile*
.dockerignore

# Development tools
composer.phar
npm-debug.log
yarn-debug.log
yarn-error.log

# Cache files
.cache/
.phpunit.cache/

# Newly added code blocks
runtime/
test/
*.bak 