.buildpath
.settings/
.project
*.patch
.idea/
.git/
.cursor/
runtime/
vendor/
.phpintel/
.env
.DS_Store
*.cache
*.lock
.php-accessor/
.phpunit*
.vscode/
static/web/.next
static/web/node_modules
/debug/
/.watcher.php
scripts/
doc/
test/bin/
build/
coverage/
odin_models.json
composer.lock
scripts/
storage/files/test001
/CLAUDE.md
.cursor/
docs/
